<footer>
  <div id="contact-section">
    <h1>Contact Us</h1>
    <ul>
      <li>Address</li>
      <li>Contact No.</li>
      <li>Headquarters</li>
    </ul>
  </div>

  <div id="social-links-section">
    <h1>Social links</h1>
    <ul>
      <li>facebook</li>
      <li>twitter</li>
      <li>google+</li>
    </ul>
  </div>
</footer>
