<header>
  <a href="/"><h1>Codeial</h1></a>

  <ul>
    <% if(locals.user) {%>
    <div class="logged-in">
      <li>Your Profile: <a href="/users/profile"><%= user.name %></a></li>
      <li>
        <a href="/users/sign-out">Sign Out</a>
      </li>
    </div>
    <% } else { %>
    <div class="logged-out">
      <li>
        <a href="/users/sign-in">Sign In</a>
      </li>
      <li>
        <a href="/users/sign-up">Sign Up</a>
      </li>
    </div>
    <% } %>
  </ul>
</header>
