#feed-posts #new-post-form textarea {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 0.2rem; }

#feed-posts #new-post-form input[type="submit"] {
  font-size: 1.5rem;
  background: #218ce4;
  outline: none;
  border: none;
  color: white;
  padding: 0.3rem 1rem;
  border-radius: 0.2rem;
  cursor: pointer; }

#feed-posts #posts-list-container ul li {
  margin-bottom: 3rem; }
  #feed-posts #posts-list-container ul li div {
    margin-bottom: 0.2rem; }
    #feed-posts #posts-list-container ul li div .post-username {
      font-size: 1.3rem; }
    #feed-posts #posts-list-container ul li div .post-card {
      height: 10rem;
      width: 20rem;
      border: 2px solid #218ce4;
      word-wrap: break-word; }
