#home-container {
  display: flex; }
  #home-container #feed-posts {
    width: 70%; }
    #home-container #feed-posts #new-post-form textarea {
      font-size: 1.5rem;
      display: block;
      margin-bottom: 0.2rem; }
    #home-container #feed-posts #new-post-form input[type="submit"] {
      font-size: 1.5rem;
      background: #218ce4;
      outline: none;
      border: none;
      color: white;
      padding: 0.3rem 1rem;
      border-radius: 0.2rem;
      cursor: pointer; }
    #home-container #feed-posts #posts-list-container ul li {
      margin-bottom: 3rem; }
      #home-container #feed-posts #posts-list-container ul li div {
        margin-bottom: 0.2rem; }
        #home-container #feed-posts #posts-list-container ul li div .post-username {
          font-size: 1.3rem; }
        #home-container #feed-posts #posts-list-container ul li div .post-card {
          height: 10rem;
          width: 20rem;
          border: 2px solid #218ce4;
          word-wrap: break-word; }
        #home-container #feed-posts #posts-list-container ul li div #comments-container {
          margin-bottom: 0; }
  #home-container #user-friends {
    width: 30%;
    height: 100%;
    border-left: 1px solid #218ce4;
    padding: 1rem; }
